{eunit_opts, [verbose]}.
{cover_enabled, true}.
{cover_print_enabled, true}.
{escript_incl_apps, [docopt]}.
{deps_dir, "lib"}.
{deps, [ {moka, "1.0.4", {git,
                          "https://github.com/samuelrivas/moka.git",
                          {tag, "1.0.4"}
                         }
         },
         {docopt, "0.0.0", {git,
                            "https://github.com/plux/docopt-erl.git",
                            {tag, "0.0.0"}
                           }
         }
       ]}.
